# dependencies
node_modules
.pnpm-debug.log*

# build outputs
.next
dist
.turbo
out

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# wrangler
.wrangler
.dev.vars

# misc
.DS_Store
*.log
.agents
*.lock
